@import url("reset.css");

bbf-player {
	width: 900px;
}

.center {
	margin: 0 auto;
}

video {
	width: 100%;
}

.bbf-nav {
	height:40px;
	width: 40px;
	line-height: 40px;
	padding: 10 10;
	cursor: pointer;
}

.bbf-nav:hover {
	background-color:#e9e9e9
}

.bbf-nav:active {
	position: relative;
	top:1px;
}